.header-title {
  padding: 20px;
  font-size: 28px;
  font-weight: bold;
  color: var(--primary);
}

/* main layout */
.container {
  gap: 20px;
  padding: 20px;
  min-height: 100vh;
  background: #f5f5f5 !important;
  margin-bottom: 20px;
}

.map-box {
  flex: 2;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-box {
  flex: 1;
  background: white;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


/* map */
.leaflet-map {
  width: 100%;
  height: 600px;
  border-radius: 10px;
}

.cab-form-container{
  display: flex;
  
}

.cab-form{
  border: 1px solid black;
  align-items: center;
  margin: 10px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}


/* button */
.route-btn {
  padding: 10px 20px;
  background: var(--primary);
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 10px;
}

.route-btn:hover {
  background: #e26b00;
}

.claculatebtn{
 
  justify-content: center;
  margin-top: 10px;
  padding: 5px;
}
